.menu-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.restaurent-details {
    display: flex;
    padding: 30px 20px 10px 0px;
    max-width: 800px;
    min-width: 800px;
    margin-bottom: 10px;
    justify-content: start;
    flex-direction: column;
}

.menu-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    padding: 30px 20px 10px 0px;
    max-width: 800px;
}

.menu-description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.price,
.item-name,
.restaurent-rating,
.restaurent-name {
    margin: 2px 0px 2px 2px;
}

.item-image {
    width: 200px;
    height: 150px;
    border-radius: 6px;
}

.item-details,
.restaurent-cuisines {
    color: rgba(40, 44, 63, .45);
}

.best-seller{
    color: orange;
}